.weare{
    padding-block-end: 214px;
    .weare__content{
        display: flex;
        gap: 43px;
        flex-wrap: wrap;
        .weare__info{
            padding-left: 100px;
            position: relative;
            @media (max-width: 920px){
                padding-left: 0px;
                margin: auto;
            }
            .weare__info-titelt-one{
                font-family: 'HelveticaNeueCyr';
                font-style: normal;
                font-weight: 550;
                font-size: 80px;
                line-height: 110%;
                text-transform: uppercase;
                color: #303030;
                transform: rotate(-90deg);
                position: absolute;
                bottom: 344px;
                left: -130px;
                @media (max-width: 878px){
                    font-size: 49px;
                }
                @media (max-width: 688px){
                    font-size: 39px;
                    left: -100px;
                }
            }
            .weare__info-titelt-two{
                font-family: 'HelveticaNeueCyr';
                font-style: normal;
                font-weight: 550;
                font-size: clamp(24px, 7vw  - 1rem, 50px);
                line-height: 110%;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #303030;
                padding-block-end: 25px;
            }
            .weare__info-text{
                font-family: 'HelveticaNeueCyr';
                font-style: normal;
                font-weight: 300;
                font-size: clamp(13px, 3vw  - 1rem, 18px);
                line-height: 145%;
                color: #303030;
                padding-block-end: 35px;
            }
            .weare__info-text-second-part{
                font-family: 'HelveticaNeueCyr';
                font-style: normal;
                font-weight: 300;
                font-size: clamp(13px, 3vw  - 1rem, 18px);
                line-height: 145%;
                color: #303030;
                padding-block-end: 61px;
            }

            .weare__info-list{
                position: relative;
                right: 100px;
                @media (max-width: 920px){
                    right: 0;
                }
                >*+*{
                    padding-block-start: 20px;
                }
                .weare__info-list-item{
                    font-family: 'HelveticaNeueCyr';
                    font-style: normal;
                    font-weight: 400;
                    font-size: clamp(14px, 3vw  - 1rem, 18px);
                    line-height: 145%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #303030;   
                    display: flex;
                    align-items: center;
                    &::before{
                        content: "";
                        background-image: url(../images/weare/ul.svg);
                        display: block;
                        width: 89px;
                        height: 6px;
                        margin-right: 10px;
                        @media (max-width: 4700px){
                            width: 50px;
                        }
                    }                     
                }
            }
        }
        .weare__img{
            position: relative;
            .weare__img-inner{
                max-width: 459px;
            }
            .weare__img-bg{
                position: absolute;
                right: -61px;
                top: 63px;
                z-index: -1;
                @media (max-width: 359px){
                    top: -39px;
                }
            }
        }
    }
}